@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* ................... header style............................*/

.div-header{
    max-width: 1366px;
    width: 100%;
    height: 324px;
    background-image: url("../img/header-img.jpg");
    display: flex;
    justify-content: space-around;
    padding-top: 32px;
    position: relative;
}
.nav-li{
    display: inline-block;
    margin-right: 49px;
}
.nav-li a{
    color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    transition-duration: 0.5s;
} 
.div-absolute{
    position: absolute;
    left: 212px;
    bottom: 85px;
    color: white;
    flex-wrap: wrap;
}
.div-absolute h1{
    font-size: 42px;
    margin-bottom: 14px;
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
}
.div-line{
    max-width:1px;
    width: 100%;
    height: 19px;
    background-color: white;
    display: inline-block;
    margin-right: 14.5px;
    margin-left: 14.5px;
}
.div-title{
    display: flex;
}
.div-title h4{
    font-family: 'Poppins', sans-serif;
}

.nav-li a:hover{
    color: #5863F8;
}
.burger-bar{
    font-size: 40px;
    color: slateblue;
    display: none;
}
.navigation{
    display: flex;
}